body {
    background-color: black;
    background-image: url('https://media.tenor.com/lEuZK57PtxIAAAAC/space-stars.gif');
    background-attachment: fixed;
    color: white;
}
.heart-button {
    margin-left: 15px;
}
.back-home {
    background-color: #F8AC0F;
    color: black;
    border: none;
}
.back-home:hover {
    background-color: #b67900;
    color: black;
    border: none;
}